/* Esconde as colunas de "Adicionar" e "Modificar" apenas na tabela da página inicial */
body.dashboard .addlink, 
body.dashboard .changelink {
    display: none !important;
}

/* Remove a borda e o espaçamento que sobra */
body.dashboard td.add-another, 
body.dashboard td.change {
    display: none !important;
}

/* dashsys/static/css/custom_admin.css */
#header #branding h1 {
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    text-indent: -9999px; /* Esconde o texto "Django Administration" */
    width: 200px;
    height: 50px;
}