/* Esconde as colunas de "Adicionar" e "Modificar" apenas na tabela da página inicial */
body.dashboard .addlink, 
body.dashboard .changelink {
    display: none !important;
}

/* Remove a borda e o espaçamento que sobra */
body.dashboard td.add-another, 
body.dashboard td.change {
    display: none !important;
}

/* Substitui o texto padrão do Django Admin pela logo GDB */
#site-name a, #site-name {
    background: url('/img/logo.png') no-repeat !important;
    background-size: contain !important;
    display: block !important;
    text-indent: -9999px !important; /* Esconde o texto "Django Administration" */
    width: 200px !important;
    height: 50px !important;
}

#branding {
    display: flex;
    align-items: center;
    min-width: 250px;
}